body{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;	
	font-family: arial,verdana,sans-serf;
}
.bodyshape{
    height: 670px !important;
}
.sidebarcontent{
    height: 60px !important;
    border: 1px solid white;
}
.top-sidebarcontent{
    height: 190px !important;
    border: 1px solid green;
}
.pagination{
  }
  .borrower-form{
	background-color: #1E441E;
}

/* .del-types{
    border: 1px solid white;
    text-decoration: none;
    border-radius: 2px !important;
} */
.footer{
    height: 70px !important; 
    width: 100% !important;
    background-color:#426A5A !important;
}
.type-move{
    margin-left: -398px;   
}
.type-move2{
    margin-left: -349px;
}
.plans-1{
    margin-left: -340px !important;
}
.plans-2{
    margin-left: -376px !important;
}
.plans-3{
    margin-left: -240px !important;
}
.plans-move{
    margin-left: -238px !important;   
}
.btn-green{
    background-color:#7FB685 !important;
    font-size: 19px !important;
}